@font-face {
    font-family: 'rubiklight';
    src: url('../font/rubik-light-webfont.eot');
    src: url('../font/rubik-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/rubik-light-webfont.woff2') format('woff2'),
         url('../font/rubik-light-webfont.woff') format('woff'),
         url('../font/rubik-light-webfont.ttf') format('truetype'),
         url('../font/rubik-light-webfont.svg#rubiklight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'persian';
    src: url('../font/Vazir.eot');
    src: url('../font/Vazir.eot?#iefix') format('embedded-opentype'),
         url('../font/Vazir.woff2') format('woff2'),
         url('../font/Vazir.woff') format('woff'),
         url('../font/Vazir.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'lato';
    src: url('Lato-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
body
{
  direction: ltr;
  margin: 0px ;
  font-family: 'rubiklight';
  font-weight: normal;
  font-style: normal;
  }

.header
{
  height: 150px;
background-color: #ce1620 ;

}
.header img
{
  float:left  ;
  margin: 5px 0px 0px 20px;
  height: 140px;
  border-radius: 8px;
}
.info {
  float: left;

  margin-top: 20px;

  margin-left: 5px;
  width: 60%;
color: white;

  font-weight: normal;
  font-style: normal;
}

.account
{
  float: left;

  margin-top: 50px;
}
.account a
{
  padding: 5px;
  text-decoration: none;
  background-color: #242a2e;
  margin-bottom: 5px;
  color: white;
  border-radius: 5px;
  font-size: 18px;
font-family: persian;
}

.account a:hover
{
  background-color: #438eac;
}
.styleMenu
{
  background-color: black;
  height: 20px;

}
.styleMenu marquee
{
  color: white;
}

.Menu
{
  background-color: #eb4c42;
  height: 50px;
  padding-top: 0;
}

.Menu ul
{
margin: 0;
}
.Menu ul li
{
  display: inline-block;
  padding-right: 30px;
  margin-top: 15px;
}
.Menu ul li a
{

  margin-top: 30px;
  text-decoration: none;
  color: #fff;

  border-radius: 4px;
}
.Menu ul li a:hover
{

  background-color: #a23d54;

}


.sidebar-down
{
  width: 80%;
  height: 1300px;
  background-color: #fff;
  box-shadow: 0 1px 1em rgba(0,0,0,.2);
  margin: 50px  0 50px;

  margin-top: 50px;

margin-left: 150px;

}
.sidebar-down h4
{
  text-align: center;
  border-bottom: 1px solid #ededed;
  padding-bottom: 10px;
}
.sidebar-down img
{
  width: 100px;
  height: 100px;
 margin-left: 100px;
   float: left;
}
.sidebar-down a
{
 text-decoration: none;
 color: #952e31;
 margin-top: 20px;
 margin-left: 62px;
float: left;
 margin-bottom:20px;
font-family: 'lato';
}
.sidebar-down a:hover
{
  color: black;
}


.footer{
  margin- top: 10px;
  height: 50px;
  width: 100%;
  background-color: red;
  float: left;
}
.footer p
{

color: white;
text-align: center;
}

.footer p:hover
{

color:black;
}
