
@font-face {
    font-family: 'rubiklight';
    src: url('rubik-light-webfont.eot');
    src: url('rubik-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('rubik-light-webfont.woff2') format('woff2'),
         url('rubik-light-webfont.woff') format('woff'),
         url('rubik-light-webfont.ttf') format('truetype'),
         url('rubik-light-webfont.svg#rubiklight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'persian';
    src: url('Vazir.eot');
    src: url('Vazir.eot?#iefix') format('embedded-opentype'),
         url('Vazir.woff2') format('woff2'),
         url('Vazir.woff') format('woff'),
         url('Vazir.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'lato';
    src: url('Lato-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
body
{
  direction: ltr;
  margin: 0px ;
  font-family: 'rubiklight';
  font-weight: normal;
  font-style: normal;

  }

.header
{
  height: 150px;
  width: 100%;
  margin: 0 auto;
background-color: #ce1620 ;

}
.header img
{
  display: flex;
  float:left  ;
  margin: 5px 0px 0px 20px;
  height: 140px;
  border-radius: 8px;
  flex-wrap: wrap;
}
.info {
  
  float: left;

  margin-top: 20px;

  margin-left: 5px;
  width: 60%;
color: white;

  font-weight: normal;
  font-style: normal;


}

.account
{
  
  display: flex;
  flex-wrap: wrap ;
  flex-direction: row;
}
.account a
{

  padding: 4px;
  text-decoration: none;
  background-color: #242a2e;
  margin-bottom: 5px;
  color: white;
  border-radius: 5px;
  font-size: 20px;
font-family: persian;



}

.account a:hover
{
  background-color: #438eac;
}
.styleMenu
{
  background-color: black;
  height: 30px;
margin: 0 auto;
padding: 0;
}
.styleMenu marquee
{
  color: white;
}

.Menu
{
  background-color: #eb4c42;
  height: 50px;
 
}

.Menu ul
{
margin: 0;
}
.Menu ul li
{
  display: inline-block;
  padding-right: 30px;
  margin-top: 10px;
}
.Menu ul li a
{

  margin-top: 30px;
  text-decoration: none;
  color: #fff;

  border-radius: 4px;
}
.Menu ul li a:hover
{

  background-color: #a23d54;

}

.content
{
  width: 70%;
  height: 1500px;
  background-color: #fff;
  box-shadow: 0 1px 1em rgba(0,0,0,.2);
  margin: 50px 0 0 50px;
  float: left;
}
.content-up img
{
  width: 400px;
  height: 400px;
    border-radius: 10px;
    margin-right: 10px;
    float: right;

}
.content-up h1
{

  margin-left: 600px;
    margin-top: 100px;
    float: left;

    border-bottom: 4px solid #000 ;
}
.sidebar-downsocial
{
  width: 90%;
  height: 1300px;
  background-color: #fff;
  box-shadow: 0 1px 1em rgba(0,0,0,.2);
  margin: 50px  0 50px;
  margin-left: 50%;
  margin-right: 50%;
  margin-top: 50%;
  float: left;
}
.content-upindex h4
{
margin-left:10px;
  margin-top: 10px;
text-align: left;
float: left;
font-size: 22px;
}
.content-upindex iframe
{
  margin-top: 100px;
  margin-left: 20px;
  border: 3px solid #000;
}
.content-upindex h1
{
  margin-left: 20px;
    margin-top: 100px;
    float: left;
  width: 600px;
    border-bottom: 4px solid #000 ;
    font-size: 50px;
}
.content-up ul
{
margin-right: 600px;
  margin-top: 10px;
  margin-left: 20px;
float: left;
}

.content-up
{
margin-left: 10px;

}
.content-upAbout p
{
  margin-left: 20px;
}
.content-upAbout p none
{
  margin-left: 200px;
}
.content-up p
{
  float: right;
  margin-top:100px;
  margin-left: 500px;
}
.content-up img
{
  margin-left: 15%;
}



.sidebar-down
{
  width: 20%;
  height: 1500px;
  background-color: #fff;
  box-shadow: 0 1px 1em rgba(0,0,0,.2);
  margin: 50px  0 50px;
  margin-left: 15px;
  margin-top: 50px;
  float: left;
}
.sidebar-down h4
{
  text-align: center;
  border-bottom: 1px solid #ededed;
  padding-bottom: 10px;
}
.sidebar-down img
{
  width: 100px;
  height: 100px;
   margin-left: 50px;

   float: left;
}
.textimg
{
 text-decoration: none;
 color: #952e31;
 margin-top: 20px;
 margin-left: 50px;
float: left;
 margin-bottom:20px;
font-family: 'lato';
text-align: center;
}
.sidebar-down a:hover
{
  color: black;
}


.footer{
  margin-top: 10px;
  height: 50px;
  width: 100%;
  background-color: red;
  float: left;
  position: relative;
}
.footer p
{

color: white;
text-align: center;
}

.footer p:hover
{

color:black;
}
@media only screen and (min-width: 1000px) {
  .sidebar-down
{
  width: 20%;
  height: 1500px;
  background-color: #fff;
  box-shadow: 0 1px 1em rgba(0,0,0,.2);
  margin: 50px  0 50px;
  margin-left: 15px;
  margin-top: 50px;
  float: left;;
}
.sidebar-down h4
{
  text-align: center;
  border-bottom: 1px solid #ededed;
  padding-bottom: 10px;
}
.sidebar-down img
{
  width: 150px;
  height: 150px;
   margin-left: 20px;

   float: left;
}

.sidebar-down a:hover
{
  color: black;
}

}